$primary-color:#042559;
$hover-color:#0C29DD;
$color-number: #005DEF;
$strong-text: #2332F3;
$secondary-color:#FFC701;
$hover-btn: #FFA901;
$white: #FFFFFF;
$color-title: #05142C;
$color-text: #283447;
$colorText-secondary: #DAE1EE;
$body: #E5E5E5;
$headerTop-bg:#021128;
$header-bg:#F3F6FB;
$border-color: #8192AC;
$dropdown: #8899B4;
$base-size: 16px;
$base-height: 22px;
$sm-size: 18px;
$big-size: 40px;
$big-height: 48px;
$min-size: 12px;
$min-height: 16px;

